:root {
	--pink: rgb(240,207,200);
	--gold:rgb(218, 187, 139);
	--gray: rgb(122, 122, 122);
};

/* MAIN - GLOBAL STYLES & HEADER BARS */

body {
	font-family: 'Permanent Marker', cursive;
	color: var(--gray);
}

.bar {
	background-color: var(--pink);
	color: var(--pink);
	margin-bottom: 5px;
	/*padding: 8px;*/
}

#gold-bar {
	background-color: var(--gold);
	color: var(--gold);
	margin-bottom: 5px;
	/*padding: 8px;*/
}

#transbox {
  color: var(--gray);
  border: 4px solid var(--gold);
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.navlinks {
	color: var(--gray);
	text-decoration: none;
	font-size: 20px;
}

#nav {
	font-family: 'Permanent Marker', cursive;
	display: flex;
	justify-content: space-around;
	padding: 5px;
	margin-bottom: 5px;
	z-index:2;
}

.navlinks:hover {
	color: var(--pink);
	text-decoration: none;
	text-shadow: 5px 5px 10px black;
}

.navli {
	list-style-type: none;
	text-decoration: none;
}

/* END - MAIN HEADER BARS */

/* HOME STYLES */
.container {
	display: grid;
	grid-template-columns: 200px 200px 200px 200px 200px;
	grid-template-rows: 300px;
	grid-gap: 50px 50px;
}

.circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: var(--gold);
	text-align: center;
	line-height: 10;
	margin-top: 50px;
}

.circle a {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-decoration: none;
}

.circle:hover {
	background-color: var(--pink);
	text-shadow: 5px 5px 10px black;
	transition-duration: 1.5s;
}

/* END - HOME PAGE STYLES */

/* PROJECT PAGE STYLES */
#projects-body {
	color: var(--gray);
	font-family: 'Bitter', serif;
	background-color: #FFFFFF;
}

.projectsHeader {
	text-align: center;
	margin-top: 0;
	text-shadow: 2px 2px 4px rgba(122, 122, 122, 0.6);
}

#projects-intro {
	font-family: 'Bitter', serif;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(122, 122, 122, 0.6);
}

.projectTitle {
	text-align: center;
}

.projects {
	border: 4px solid var(--gold);
	box-shadow: 5px 10px rgba(122,122,122, 0.3);
	margin: 10px;
	width: 50vw;
	text-align: center;
	background-color: white;
	color: rgb(122,122,122);
	text-shadow: 2px 2px 4px rgba(122, 122, 122, 0.6);
	font-family: 'Bitter', serif;
}

.current {
	border: 4px solid var(--gold);
	box-shadow: 5px 10px rgba(122,122,122, 0.3);
	margin: 10px;
	width: 50vw;
	text-align: center;
	background-color: white;
	color: var(--gray);
	font-family: 'Bitter', serif;
}

#popcornProject {
	background-color: var(--gold);
    padding: 10px;
}

#videoProject {
	background-color: var(--gold);
    padding: 10px;
}

#projectThree {
	background-color: var(--gold);
    padding: 10px;
}

#projectFour {
	background-color: var(--gold);
    padding: 10px;
}

.currentProjects {
	text-align: center;
}

.current {
	display: inline-block;
}

/* END - PROJECTS PAGE STYLES */

/* MISC STYLES */
#container {
	display: flex;
	justify-content: space-around;
}

.container2 {
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-direction: right;
}

.items {
	align-items: center;
	margin-bottom: 5px;
	background-color: var(--gold);
	color: var(--gray);
	box-sizing: border-box;
	width: 35vw;
	height: 35vh;
	border: 3px solid white;
}

.items:hover {
	background-color: rgba(240,207,200, 0.1);
	color: var(--gold);
	border: 3px solid var(--gold);
	box-sizing: border-box;
	height: 35vh;
	width: 35vw;
}

.statement-p {
	margin: 30px;
	font-family: 'Bitter', serif;
}

.statementHeaders {
	text-align: center;
	margin-top: 25px;
	font-family: 'Bitter', serif;
}

.contact {
	color: var(--gray);
	text-shadow: 2px 2px 4px rgba(122, 122, 122, 0.6);
}

.contact:hover {
	color: var(--pink);
	text-shadow: 2px 2px 4px rgba(122, 122, 122, 0.6);
}

.box {
	border: 2px solid red;
	text-align: center;
	margin: 1em;
	flex: 0 1 45%;
	height: 50vh;
	padding: 0.5em;
}

/* END - MISC STYLES */

/* ABOUT ME STYLES */

#aboutMe {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

#about-me {
	margin-bottom: 20px;
	font-family: 'Bitter', serif;
}

#about-me-text {
	padding: 10px;
}

#about-header {
	text-align: center;
}

/* END - ABOUT ME STYLES */

/* FOOTER STYLES */
footer {
	display: flex;
	justify-content: space-around;
	text-shadow: 2px 2px 4px rgba(122, 122, 122, 0.5);
	
}

.footer {
	color: var(--gray);
}

.footer:hover {
	color: var(--pink);
	text-shadow: 5px 5px 10px black;
}
/* END - FOOTER STYLES */

/* CURRENTLY NOT USING - SKILLS STYLES
#skills {
	text-align: center;
	background-color: var(--pink);
	color: var(--gray);
	padding: 10px;
	margin-top: 5px;
}

i {
	color: var(--gray); 
	padding: 20px;
}

#front-skills {
	padding-bottom: 20px;
}

#back-end {
	margin-bottom: 0px;
}
 END - SKILLS STYLES */

/* #photo {
	background-color: var(--gold);
    padding: 10px;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 15%;
}

#photo-main {
    display: block;
    margin: 0 auto;
} */



/* .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
} */











